<h2><%= @business.name %></h2>
<h2><%= @business.address %></h2><br>
<% @business.notes.each do |note| %>
<h1><%=note.category %></h1><br>
<div class="note-body">
<div class="note-title"><%=note.title %></div>
<div><%=note.content %></div>
<div><%=note.user.full_name %></div>
</div>
<% end %>


<h3><%= link_to "Create Note for Business", new_business_note_path(@business) %></h3>
