<h2><%= @business.name %></h2>
<h2><%= @business.address %></h2><br>



<ul>
<% @business.notes.each do |note| %>
<li><%= note.title %></li>
<p><%= note.content %></p>
<li><%= note.category%></li>
<br>
<% end %>
</ul>


<h3><%= link_to "Create Note for Business", new_business_note_path(@business) %></h3>