<h2><%= @business.name %></h2>
<h2><%= @business.address %></h2><br>
<% @business.notes.each do |note| %>
<h1><%=note.title %></h1><br>
<h1><%=note.content %></h1><br>
<h1><%=note.user.full_name %></h1><br>
<% end %>


<h3><%= link_to "Create Note for Business", new_note_path(@business) %></h3>
