<h2>New Note Form</h2>

<%= form_for [@business, @note] do |f| %>
<%= f.label :'Title:' %><br>
<%= f.text_field :title %><br>
<br>
<%= f.label :'Content' %><br>
<%= f.text_area :content %><br> 
<br>
<%= f.select :category, ["request", "run"] %><br>
<br>
<%= f.submit %>
<% end %>