<h1>Create Account</h1>
<% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
  
  <%= flash[:message] %> <br>
  <br>
  
  <%= form_for @user do |f| %>
    <%= f.label :full_name %>
    <%= f.text_field :full_name%>
    <br>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :neighborhood_ids, "Neighborhoods Selection" %> <br>
    <%= f.collection_check_boxes :neighborhood_ids, @neighborhoods, :id, :name, { :multiple => true } %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Create Account" %>
  <% end %>